[submodule "thirdparty/imnodes"]
	path = thirdparty/imnodes
	url = https://github.com/YINGHAIDADA/imnodes.git
[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = https://github.com/YINGHAIDADA/imgui
	branch = docking
